/* - - - - - - - - - - - - - - - -

      #COLOR-PALETTE

- - - - - - - - - - - - - - - - - */

$color__bg--primary: #ffffff;
$color__bg--secondary: #eff2f3;
$color__bg--dark: #111;

$color__text--primary: #111;
$color__text--secondary: #333;

$color__border--primary: #c5c5c5;
